DATABASE_URL=$DATABASE_URL
NUXT_SESSION_PASSWORD=$NUXT_SESSION_PASSWORD

NUXT_OAUTH_GOOGLE_REDIRECT_URL=$DOMAIN/api/v1/auth/google
GOOGLE_REDIRECT_URL=$DOMAIN/api/v1/auth/google

S3_BUCKET_NAME=$BucketName
S3_REGION=$region
S3_ACCESS_KEY_ID=$access_key_id
S3_SECRET_ACCESS_KEY=$secret_access_key
S3_ENDPOINT=$s3_endpoint